<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/components/navbar.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/components/footer.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/components/header.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	{% block extra_css %}{% endblock %}
	<title>{% block title %}YaYa{% endblock %}</title>
</head>
<body>
	<header class="head1">Telephone | Email</header>
	<header class="head2">
		<img src="{% static '/images/YaYa_cropped.png' %}" alt="Description of the image">
		<nav class="navbar">
			<ul>
				<li><a href="{% url 'index' %}">Home</a></li>
	            <li><a href="{% url 'about' %}">About</a></li>
	            <li><a href="{% url 'testimonials' %}">Testimonials</a></li>
	            <li><a href="{% url 'ethos' %}">Ethos</a></li>
	            <li><a href="{% url 'key_skills' %}">Key Skills</a></li>
	            <li><a href="{% url 'services' %}">Services</a></li>
	            <li><a href="{% url 'blog' %}">Blog</a></li>
			</ul>
		</nav>
	</header>
{% block content %}
{% endblock %}
	<div class="footer-grid">
		<div class="fbox1"><p>Contact</p></div>
		<div class="fbox2"><p>Request a call</p></div>
		<div class="fbox3"><p>Social Media</p></div>
		<div class="fbox4"><p>Terms + Conditions</p></div>
		<div class="fbox5"><p>Credits</p></div>
		<div class="fbox6"><p>2</p></div>
		<div class="fbox7"><p>3</p></div>
		<div class="fbox8"><p>4</p></div>
	</div>
</body>
</html>