{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/pages/index.css' %}">
	{% endblock %}


	<title>{% block title %}Home{% endblock %}</title>
</head>
<body>
	{% block content %}
	<div class="banner-index">
		<img src="{% static '/images/placeholder_image001.jpg' %}" alt="Description of the image">
	</div>
	<div class="s1">
		<div class="c1">
			<div class="box1">
				<h1>Heading</h1>
				<p class="text1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<div class="c1-b1-image-cont">
					<img src="{% static '/images/placeholder_image001.jpg' %}" alt="Description of the image">
				</div>
			</div>
			<div class="box2">
				<div class="video1">
					<video autoplay loop muted>
					    <source src="{% static 'videos/placeholder_video001.mp4' %}" type="video/mp4">
					    Your browser does not support the video tag.
					</video>
				</div>
				<p class="text2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</div>
	<div class="s2">
		<div class="box3"></div>
		<div class="box4"></div>
		<div class="box5"></div>
		<div class="box6"></div>
	</div>

	<div class="s3">Section 3</div>

	{% endblock %}
</body>
</html>