{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/pages/index.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/components/banner.css' %}">
	{% endblock %}


	<title>{% block title %}Home{% endblock %}</title>
</head>
<body>
	{% block content %}
	<div class="banner">
		<img src="{% static '/images/placeholder_img.png' %}" alt="Description of the image">
	</div>

	<div class="s1-grid-container">
			<div class="heading-1"><h1>YaYa Maternity</h1></div>
		
			<div class="s1-box1">
	
				<p class="text1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				
			</div>

			

			<div class="s1-box2">
				<p class="text2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>

			<div class="s1-box3">
					<img src="{% static '/images/placeholder_img.png' %}" alt="Description of the image">
			</div>

			<div class="s1-box4">
					<video autoplay loop muted>
					    <source src="{% static 'videos/placeholder_video001.mp4' %}" type="video/mp4">
					    Your browser does not support the video tag.
					</video>
			</div>
		
	</div>
	<div class="s2-grid-container">
		<a class="s2-box3" href="{% url 'service1' %}">
		
			<img src="{% static '/images/placeholder_img.png' %}" alt="Description of the image">
			<span class="s2-box-text">SERVICE-1</span>
		</a>
		<div class="s2-box4">
			<img src="{% static '/images/placeholder_img.png' %}" alt="Description of the image">
			<span class="s2-box-text">SERVICE-2</span>
		</div>
		<div class="s2-box5">
			<img src="{% static '/images/placeholder_img.png' %}" alt="Description of the image">
			<span class="s2-box-text">SERVICE-3</span>
		</div>
		<div class="s2-box6">
			<img src="{% static '/images/placeholder_img.png' %}" alt="Description of the image">
			<span class="s2-box-text">SERVICE-4</span>
		</div>
	</div>
	<div class="s2-more">
		<a class="more-serv-button" href="{% url 'services' %}">MORE SERVICES</a>
	</div>
	<div class="s3-grid-container">
		<div class="s3-box1"><h2>Hear from our customers</h2></div>
		<div class="s3-box2">
			<h3>Testimonial-1</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
		</div>
		<div class="s3-box3">
			<h3>Testimonial-2</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
		</div>
		<div class="s3-box4">
			<h3>Testimonial-3</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
		</div>
	</div>

	{% endblock %}
</body>
</html>