{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/pages/services.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/components/buttons.css' %}">
	{% endblock %}


	<title>{% block title %}Services{% endblock %}</title>
</head>
<body>
	{% block content %}
	<div class="banner-services">
		<img src="{% static '/images/placeholder_img.png' %}" alt="Description of the image">
	</div>
	<div class="services-heading"><h1>Services</h1></div>
	<div class="s1-grid-container">
		<a class="s1-box1" href="{% url 'service1' %}">
		
			<img src="{% static '/images/placeholder_img.png' %}" alt="Description of the image">
			<span class="s1-box-text">SERVICE-1</span>
		</a>
		<div class="s1-box2">
			<img src="{% static '/images/placeholder_img.png' %}" alt="Description of the image">
			<span class="s2-box-text">SERVICE-2</span>
		</div>
		<div class="s1-box3">
			<img src="{% static '/images/placeholder_img.png' %}" alt="Description of the image">
			<span class="s2-box-text">SERVICE-3</span>
		</div>
		<div class="s1-box4">
			<img src="{% static '/images/placeholder_img.png' %}" alt="Description of the image">
			<span class="s2-box-text">SERVICE-4</span>
		</div>
		<div class="s1-box5">
			<img src="{% static '/images/placeholder_img.png' %}" alt="Description of the image">
			<span class="s2-box-text">SERVICE-4</span>
		</div>
		<div class="s1-box6">
			<img src="{% static '/images/placeholder_img.png' %}" alt="Description of the image">
			<span class="s2-box-text">SERVICE-4</span>
		</div>
		<div class="s1-box7">
			<img src="{% static '/images/placeholder_img.png' %}" alt="Description of the image">
			<span class="s2-box-text">SERVICE-4</span>
		</div>
		<div class="s1-box8">
			<img src="{% static '/images/placeholder_img.png' %}" alt="Description of the image">
			<span class="s2-box-text">SERVICE-4</span>
		</div>
	</div>
	<div class="services-s2"></div>
	<div class="services-s3"></div>
	{% endblock %}
</body>
</html>