{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/pages/services.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/components/buttons.css' %}">
	{% endblock %}


	<title>{% block title %}Services{% endblock %}</title>
</head>
<body>
	{% block content %}
	<div class="banner-services">
		<img src="{% static '/images/placeholder_img.png' %}" alt="Description of the image">
	</div>
	<div class="services-heading"><h1>Services/Products</h1></div>
	<div class="services-s1-grid">
		<div class="services-s1-b1">
			<img src="{% static '/images/placeholder_img.png' %}" alt="Description of the image">
			<button class="buy-button"><p><a href="{% url 'service1' %}">FIND OUT MORE</a></p></button>
		</div>
		<div class="services-s1-b2">
			<button class="buy-button"><p>FIND OUT MORE</p></button>
		</div>
		<div class="services-s1-b3">
			<button class="buy-button"><p>FIND OUT MORE</p></button>
		</div>
		<div class="services-s1-b4">
			<button class="buy-button"><p>FIND OUT MORE</p></button>
		</div>
		<div class="services-s1-b5">
			<button class="buy-button"><p>FIND OUT MORE</p></button>
		</div>
		<div class="services-s1-b6">
			<button class="buy-button"><p>FIND OUT MORE</p></button>
		</div>
		<div class="services-s1-b7">
			<button class="buy-button"><p>FIND OUT MORE</p></button>
		</div>
		<div class="services-s1-b8">
			<button class="buy-button"><p>FIND OUT MORE</p></button>
		</div>
		<div class="services-s1-b9">
			<button class="buy-button"><p>FIND OUT MORE</p></button>
		</div>
	</div>
	<div class="services-s2"></div>
	<div class="services-s3"></div>
	{% endblock %}
</body>
</html>