{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/pages/index.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/pages/testimonials.css' %}">
	{% endblock %}


	<title>{% block title %}Testimonials{% endblock %}</title>
</head>
<body>
	{% block content %}
	<div class="banner-index">
		<img src="{% static '/images/placeholder_img.png' %}" alt="Description of the image">
	</div>
	<div class="testimonials-s1">
		
	</div>

	{% endblock %}
</body>
</html>