* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: monospace, sans-serif;
	list-style: none;
}

html {
	margin: 0;
	padding: 0;
}

body {
    font-family: 'monospace;, sans-serif';
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

/* Link Styles */
a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
