* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: monospace, sans-serif;
	list-style: none;
	text-decoration: none;
}

html {
	margin: 0;
	padding: 0;
}

body {
    font-family: 'monospace;, sans-serif';
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

/* Link Styles */
a {
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    text-decoration: none;
    color: red;
}


