





.s1-grid-container {
	background-color: white;
	display: grid;
	justify-content: center;

	grid-template-areas: 
		"t1 t1 t2"
		"m1 m2 m2"
		"b1 b1 b1";
	

	grid-gap: 1rem;
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: 300px 300px 300px;

	padding-top: 3rem;
	padding-bottom: 3rem;
}

.s1-box1 {
	grid-area: t1;
	background-color: white;
	padding: 0.5rem;
}

.s1-box2 {
	grid-area: m2;
	background-color: white;
	padding: 0.5rem;
}

.s1-box3 {
	grid-area: b1;
	background-color: white;
	text-align: center;
}

.s1-image001 {
	display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
	grid-area: t2;
	overflow: hidden;
	object-fit: cover;
	border: 1px solid black;
	border-radius: 1rem;
}

.s1-image002 {
	display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
	grid-area: m1;
	overflow: hidden;
	object-fit: cover;
	border: 1px solid black;
	border-radius: 1rem;
}

@media screen and (max-width: 1023px) {
	.s1-grid-container{
		grid-template-areas: 
		" . t1 t1 t2 t2 . "
		" . t1 t1 m2 m2 . "
		" . t1 t1 m2 m2 . "
		" . m1 m1 m2 m2 . "
		" . b1 b1 b1 b1 . "
		" . b1 b1 b1 b1 . "
		;
	
		grid-gap: 1rem;
		grid-template-columns: repeat(6, 150px);
		grid-template-rows: repeat(6, 150px);
	}
}

@media screen and (max-width: 767px) {
	.s1-grid-container{
		grid-template-areas: 
		" . . t1 t1 . . "
		" . . t1 t1 . . "
		" . . t1 t1 . . "
		" . . t2 t2 . . "
		" . . m2 m2 . . "
		" . . m2 m2 . . "
		" . . m2 m2 . . "
		" . . m1 m1 . . "
		" . . b1 b1 . . "
		" . . b1 b1 . . "
		" . . b1 b1 . . "
		;
	
		grid-gap: 1rem;
		grid-template-columns: repeat(6, 150px);
		grid-template-rows: repeat(11, 150px);
	}
}