





.s1-grid-container {
	background-color: white;
	display: grid;
	justify-content: center;

	grid-template-areas: 
		"t1 t1 t2"
		"m1 m2 m2"
		"b1 b1 b1";
	

	grid-gap: 1rem;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auro auto auto;

	margin-right: 10%;
	margin-left: 10%;

	padding-top: 3rem;
	padding-bottom: 3rem;
}

.s1-box1 {
	grid-area: t1;
	background-color: white;
	padding: 0.5rem;
}

.s1-box2 {
	grid-area: m2;
	background-color: white;
	padding: 0.5rem;
}

.s1-box3 {
	grid-area: b1;
	background-color: white;
	text-align: center;
}

.s1-image001 {

	display: flex;
    justify-content: center; 
    align-items: center;    

	grid-area: t2;
	

	width: 100%; /* Fill the container's width */
    height: auto; /* Fill the container's height */
    overflow: hidden;
	
}

.s1-image001 img {
	width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1vw;
}

.s1-image002 {

	display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */

	grid-area: m1;
	
	width: 100%; /* Fill the container's width */
    height: auto; /* Fill the container's height */
    overflow: hidden;
}

.s1-image002 img {
	width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1vw;
}

@media screen and (max-width: 1023px) {
	.s1-grid-container{
		grid-template-areas: 
		" t1 "
		" t2 "
		" m2 "
		" m1 "
		" b1 "
		;
	
		grid-gap: 1rem;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(5, auto);
	}
}

@media screen and (max-width: 767px) {
	.s1-grid-container{
		grid-template-areas: 
		" t1 "
		" t2 "
		" m2 "
		" m1 "
		" b1 "

		;
	
		grid-gap: 1rem;
		grid-template-columns: 1fr ;
		grid-template-rows: repeat(5, auto);
	}
	
}