.s1-grid-container {
	background-color: white;
	display: grid;
	padding-top: 3rem;
	padding-bottom: 3rem;
	
	justify-content: center;

	grid-template-areas: 
		"top top top"
		"m1 m1 m-img"
		"bot bot bot"
		;
	grid-template-columns: 200px 200px 250px;
	grid-template-rows: 500px 250px 250px;
	grid-gap: 1rem;
}

.s1-box1 {
	grid-area: top;
	align-items: center;
	background-color: white;
	padding: 0.5rem;
	border: 1px solid black;
}

.s1-box2 {
	grid-area: m1;
	align-items: center;
	background-color: white;
	padding: 0.5rem;
	border: 1px solid black;
}

.s1-box3 {
	grid-area: bot;
	align-items: center;
	background-color: white;
	padding: 0.5rem;
	border: 1px solid black;
}

.s1-image001 {
	grid-area: m-img;
	align-items: center;
	background-color: white;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
	overflow: hidden;
	object-fit: cover;
	border: 1px solid black;
	border-radius: 1rem;
}

.s1-image001 img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

