.s1-grid-container {
	background-color: white;

	display: grid;
	justify-content: center;

	grid-template-areas: 
		" b1 img1 ";
		
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto ;

	margin-left: 10%;
	margin-right: 10%;

	min-width: 300px;

	grid-gap: 1rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.s1-box1 {
	grid-area: b1;
	background-color: white;
	overflow: hidden;
	justify-content: center;
}

.s1-image001 {
	width: 100%; /* Fill the container's width */
    height: auto; /* Fill the container's height */
    overflow: hidden;
}

.s1-image001 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1vw;
}

.s2-grid-container {
	background-color: white;
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-areas:
		" b2 ";
	overflow: hidden;
	grid-template-columns: auto;
	grid-template-rows: auto;
	padding-top: 3rem;
	padding-bottom: 3rem;
	min-width: 300px;
	margin-left: 10%;
	margin-right: 10%;
}



.s2-box1 {
	grid-area: b2;
	background-color: white;
	justify-content: center;
	overflow: hidden;
}






@media screen and (max-width: 1023px) {
	.s1-grid-container{
		grid-template-areas: 
		" b1 "
		" img1 "
		;
	
		grid-template-columns: auto;
		grid-template-rows: auto auto;
	}
	.s2-grid-container {
		grid-template-areas: 
			" b2 "
			;
		grid-template-columns: auto;
		grid-template-rows: auto ;
		margin-left: 10%;
		margin-right: 10%;
	}
}

@media screen and (max-width: 767px) {
	.s1-grid-container{
		grid-template-areas: 
		" b1 "
		" img1 "
		;
	
		grid-template-columns: auto;
		grid-template-rows: auto auto;
	}
	.s2-grid-container {
		grid-template-areas: 
			" b2 "
			;
		grid-template-columns: auto;
		grid-template-rows: auto;
		margin-left: 10%;
		margin-right: 10%;
	}
}