.s1-grid-container {
	background-color: white;
	display: grid;
	justify-content: center;

	grid-template-areas: 
		" b1 img1 ";
		
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 400px ;
	grid-gap: 1rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.s2-grid-container {
	background-color: white;
	display: grid;
	justify-content: center;
	grid-template-columns: 600px;
	grid-template-rows: auto;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.s1-box1 {
	grid-area: b1;
	background-color: white;
	padding: 0.5rem;
	padding: 1rem 2rem 1rem 2rem;
	overflow: hidden;
}


.s1-image001 {
	display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
	grid-area: img1;
	overflow: hidden;
	object-fit: cover;
	border-radius: 50% 20% / 10% 40%;
}

.s1-image001 img {
	width: 100%; /* Fill the container's width */
    height: 100%; /* Fill the container's height */
    object-fit: cover;
}

.s2-box1 {
	
}
