

.s1-grid-container {
    background-color: white;
    display: grid;
    padding-top: 3rem;
    padding-bottom: 3rem;

    max-width: 100%; /* Use full width of the container */
    height: auto;

    margin-left: 10%;
    margin-right: 10%;

    justify-content: center;

    /* Two equal columns */
    grid-template-columns: 1fr 1fr; /* Equal columns using fractional units */
    grid-template-rows: auto auto auto; /* Auto-adjusting row heights */
    grid-gap: 3rem;

    /* Define grid areas */
    grid-template-areas: 
        " head1 head1 "
        " box1 img1 "
        " vid1 box2 ";
}

/* Adjust heading size for responsiveness */
.heading-1 {
    grid-area: head1;
    background-color: white;
    font-size: clamp(1.5rem, 5vw, 40px); /* Responsive font size */
    font-family: monospace;
    line-height: 1.0;
    padding: 1rem;
}

.s1-box1 {
	grid-area: box1;
	background-color: white;

    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */

    width: 100%; /* Fill the container's width */
    height: auto; /* Fill the container's height */
    overflow: hidden;
}

.s1-box2 {
	grid-area: box2;
	background-color: white;

    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */

    width: 100%; /* Fill the container's width */
    height: auto; /* Fill the container's height */
    overflow: hidden;
}

.s1-box3 {
	grid-area: img1;
	position: relative;
    width: 100%;
    aspect-ratio: 16 / 9; /* Set your desired aspect ratio */
    overflow: hidden;
}

.s1-box4 {
	grid-area: vid1;
	position: relative;
    width: 100%;
    aspect-ratio: 16 / 9; /* Set your desired aspect ratio */
    overflow: hidden;
}


/* h1 in box1 */
.s1-box1 h1 {
    font-size: clamp(2rem, 5vw, 3rem); /* Responsive font size */
    color: black;
    text-align: center;
}

/* Text styling */
.text1, .text2 {
    background-color: white;
    padding: 1rem;
    font-weight: 600;
}

/* Images and videos responsive settings */
.s1-box3 img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Keeps image filling the container without distorting */
    object-position: center; /* Centers the image within the grid item */
    border-radius: 1vw;
}

.s1-box4 video {
	width: 100%;
    height: 100%;
    object-fit: cover; /* Keeps image filling the container without distorting */
    object-position: center; /* Centers the image within the grid item */
    border-radius: 1vw;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .s1-grid-container {
        grid-template-columns: 1fr; /* Stack the columns vertically */
        grid-template-areas: 
            " head1 "
            " box1 "
            " vid1 "
            " box2 "
            " img1 ";
        margin-left: 10%;
        margin-right: 10%;
    }

    /*.s1-box1, .s1-box2, .s1-box3, .s1-box4 {
        min-width: 100%; 
        max-width: 100%;
    }*/
}

@media (max-width: 1023px) {
    .s1-grid-container {
        grid-template-columns: 1fr; /* Stack the columns vertically */
        grid-template-areas: 
            " head1 "
            " box1 "
            " vid1 "
            " box2 "
            " img1 ";
        margin-left: 10%;
        margin-right: 10%;
    }
}



/*//////////////////////////////////////*/



.s2-grid-container {
	display: grid;
	grid-template-areas: 
		"b1 b2 b3 b4"
		;
	grid-template-rows: 200px;
	grid-template-columns: 200px 200px 200px 200px;
	grid-gap: 5rem;
	background-color: lightblue;
	padding-top: 3rem;
	padding-bottom: 3rem;
	justify-content: center;
}

.s2-box3 {
	grid-area: b1;
	background-color: grey;
	border-radius: 5%;
	overflow: hidden;
	position: relative;
}

.s2-box-text {
  position: absolute;
  width: 100%;
  height: 30px; /* Height of the grey strip */
  background-color: grey;
  bottom: 25%; /* Position the strip one-third from the bottom */
  left: 0;
  text-align: center;
  color: white; /* Text color */
  line-height: 30px; /* Vertically center the text */
  font-size: 1rem; /* Adjust text size as needed */
}

.s2-box3 img{
	width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.s2-box4 {
	grid-area: b2;
	background-color: grey;
	border-radius: 5%;
	overflow: hidden;
	position: relative;
}

.s2-box4 img{
	width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.s2-box5 {
	grid-area: b3;
	background-color: grey;
	border-radius: 5%;
	overflow: hidden;
	position: relative;
}

.s2-box5 img{
	width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.s2-box6 {
	grid-area: b4;
	background-color: grey;
	border-radius: 5%;
	overflow: hidden;
	position: relative;
}

.s2-box6 img{
	width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.s2-more {
	display: flex;
	justify-content: center;
	background-color: lightblue;
	padding-bottom: 3rem;
}




/*//////////////////////////////////////*/

.s3-grid-container {
	background-color: white;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: 100px 300px;
	grid-template-areas: 
		" bh bh bh "
		" tb1 tb2 tb3 "
		;

	justify-content: center;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.s3-box1 {
	display: flex;
	flex-direction: row;
	background-color: white;
	grid-area: bh;
	padding: 0.5rem;
	justify-content: center;
	align-items: center;

}

.s3-box1 h2 {
	font-size: 40px;
	text-align: center;
}

.s3-box2 {
	display: flex;
	background-color: white;
	flex-direction: column;
	grid-area: tb1;
	padding: 0.5rem;
	justify-content: center;
	align-items: center;
}

.s3-box3 {
	display: flex;
	background-color: white;
	flex-direction: column;
	grid-area: tb2;
	padding: 0.5rem;
	justify-content: center;
	align-items: center;
}

.s3-box4 {
	display: flex;
	background-color: white;
	grid-area: tb3;
	flex-direction: column;
	padding: 0.5rem;
	justify-content: center;
	align-items: center;
}

/*//////////////////////////////////////*/

@media screen and (max-width: 1023px) {
	
	.s2-grid-container {
		grid-template-areas: 
		" b1 b2 "
		" b3 b4 "
		;
		grid-template-rows: 200px 200px;
		grid-template-columns: 200px 200px ;
		grid-gap: 3rem;
	}
	.s3-grid-container {
		grid-gap: 1rem;
		grid-template-columns: 150px 150px 150px 150px;
		grid-template-rows: 100px 300px 300px;
		grid-template-areas: 
			" bh bh bh bh "
			" tb1 tb1 tb2 tb2 "
			" .  tb3 tb3  . "
		;

	}

}

@media screen and (max-width: 767px) {
	
	.s2-grid-container {
		grid-template-areas: 
		" b1 "
		" b2 "
		" b3 "
		" b4 "
		;
		grid-template-rows: 200px 200px 200px 200px;
		grid-template-columns: 200px  ;
		grid-gap: 1rem;
	}
	.s3-grid-container {
		grid-gap: 1rem;
		grid-template-columns: 300px;
		grid-template-rows: 100px 300px 300px 300px;
		grid-template-areas: 
			" bh "
			" tb1 "
			" tb2 "
			" tb3 "
		;
	}
	.s3-box1 h2 {
		font-size: 30px;
		text-align: center;

	}
}