





.s1-grid-container {
	background-color: white;
	display: grid;
	justify-content: center;

	grid-template-areas: 
		" img img b1 "
		" img img b1 "
		" b2 b2 b2 ";
	
	grid-gap: 1rem;
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: 300px 300px auto;

	padding: 1rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.s1-box1 {
	grid-area: b1;
	background-color: white;
	padding: 0.5rem;
}

.s1-box2 {
	grid-area: b2;
	background-color: white;
	padding: 0.5rem;
}

.s1-image001 {
	display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
	grid-area: img;
	overflow: hidden;
	object-fit: cover;
	border: 1px solid black;
	border-radius: 1rem;
}

.s1-image001 img {
	width: 100%; /* Fill the container's width */
    height: 100%; /* Fill the container's height */
    object-fit: cover;
}

.s1-box2 p {
	margin-bottom: 20px;
}