

.banner-services {
	display: flex;
	width: 100%;
	height: 30rem;
	background-color: white;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.banner-services img {
    width: 100%;  /* Stretch to fit the container width */
    height: 100%; /* Stretch to fit the container height */
    object-fit: cover; /* Fills the entire container, may distort image */
}

.services-heading {
	text-align: center;
	padding-top: 1rem;
	background-color: white;
}


.s1-grid-container {
	display: grid;

	grid-template-areas: 
		"b1 b2 b3 b4"
		"b5 b6 b7 b8"
		;
	grid-template-columns: 300px 300px 300px 300px;
	grid-template-rows: 300px 300px;
	
	grid-gap: 2rem;
	background-color: white;
	padding-top: 3rem;
	padding-bottom: 3rem;
	justify-content: center;
}

.s1-box1 {
	grid-area: b1;
	background-color: grey;
	border-radius: 5%;
	overflow: hidden;
	position: relative;
}

.s1-box-text {
  position: absolute;
  width: 100%;
  height: 30px; /* Height of the grey strip */
  background-color: grey;
  bottom: 25%; /* Position the strip one-third from the bottom */
  left: 0;
  text-align: center;
  color: white; /* Text color */
  line-height: 30px; /* Vertically center the text */
  font-size: 1rem; /* Adjust text size as needed */
}

.s1-box1 img{
	width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.s1-box2 {
	grid-area: b2;
	background-color: grey;
	border-radius: 5%;
	overflow: hidden;
	position: relative;
}

.s1-box2 img{
	width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.s1-box3 {
	grid-area: b3;
	background-color: grey;
	border-radius: 5%;
	overflow: hidden;
	position: relative;
}

.s1-box3 img{
	width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.s1-box4 {
	grid-area: b4;
	background-color: grey;
	border-radius: 5%;
	overflow: hidden;
	position: relative;
}

.s1-box4 img{
	width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.s1-box5 {
	grid-area: b5;
	background-color: grey;
	border-radius: 5%;
	overflow: hidden;
	position: relative;
}

.s1-box5 img{
	width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.s1-box6 {
	grid-area: b6;
	background-color: grey;
	border-radius: 5%;
	overflow: hidden;
	position: relative;
}

.s1-box6 img{
	width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.s1-box7 {
	grid-area: b7;
	background-color: grey;
	border-radius: 5%;
	overflow: hidden;
	position: relative;
}

.s1-box7 img{
	width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.s1-box8 {
	grid-area: b8;
	background-color: grey;
	border-radius: 5%;
	overflow: hidden;
	position: relative;
}

.s1-box8 img{
	width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}


@media screen and (max-width: 1023px) {
	.s1-grid-container{
		grid-template-areas: 
		" b1 b2 "
		" b3 b4 "
		" b5 b6 "
		" b7 b8 ";
	
		grid-gap: 1rem;
		grid-template-columns: 300px 300px;
		grid-template-rows: repeat(4, 300px);
	}
}

@media screen and (max-width: 768px) {
	.s1-grid-container{
		grid-template-areas: 
		" b1 "
		" b2 "
		" b3 "
		" b4"
		" b5 "
		" b6 "
		" b7 "
		" b8 ";
	
		grid-gap: 1rem;
		grid-template-columns: 300px;
		grid-template-rows: repeat(8, 300px);
	}
}