{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/pages/about.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/components/banner.css' %}">
	{% endblock %}


	<title>{% block title %}About{% endblock %}</title>
</head>
<body>
	{% block content %}
	<div class="about-banner banner">
		<img src="{% static '/images/smiling-parents-holding-infant-daughter-with-baby-2021-08-29-21-24-10-utc.jpg' %}" alt="Description of the image">
	</div>
	<div class="s1-grid-container">
			
			<div class="s1-box1">
				<h1>About me</h1>

				<p>
					I am a mother, navigating the joys and challenges of raising two beautiful (and wonderfully stubborn) children, alongside my supportive husband.</p>
				<br>
					<p>I am a certified Lactation Consultant, an esteemed member of the International Lactation Association, and an IBCLC since 2022.
					</p>
				<br>
					<p>As a proud graduate of Public Health and Health promotion, I bring an educational background that perfectly complements my passion for helping new families.
					</p>
				<br>
					<P>My journey to supporting families started 8 years ago, with a volunteering opportunity within the Barnet Breastfeeding Team. A year later, this turned into an employment position and until the present I have been honoured to be part of their team and supporting breastfeeding mothers.
				</p>
			</div>

			<div class="s1-image001">
				<img src="{% static '/images/bxYcoyKS.png' %}" alt="Description of the image">
			</div>
			<div class="s1-image002">
				<img src="{% static '/images/baby-taking-feeding-bottle-2021-08-30-05-09-38-utc.jpg' %}" alt="Description of the image">
			</div>
			<div class="s1-box2"><h1>What i do</h1>
						<p>
						These opportunities have allowed me to offer invaluable support to mothers within the community and in their homes, and have motivated me to seek better ways to help parents navigate the first months of parenthood.
						<p>
						<br>

						<p>I now operate a private practice in North London, expanding my services to include maternity support and night nannying, focusing my work on improving parental experiences and teaching them what they can expect from their newborn baby.
						</p> 
			</div>
			<div class="s1-box3"><em>Credits<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
			</div>
		
	</div>
	
	{% endblock %}
</body>
</html>