<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/components/navbar.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/components/footer.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/components/header.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

	{% block extra_css %}{% endblock %}
	<title>{% block title %}YaYa{% endblock %}</title>
</head>
<body>
	<header class="head1">Telephone | Email</header>
	<header class="head2">
		<img src="{% static '/images/yaya_logo_for_screen.jpg' %}" alt="Description of the image">
	</header>
	<nav class="navbar">
		<div class="brand-title">YaYa Maternity</div>
		<a href="javascript:void(0);" class="toggle-button">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</a>
		<div class="navbar-links">
		        <ul>
		            <li><a class="active" href="{% url 'index' %}">Home</a></li>
		            <li><a href="{% url 'about' %}">About</a></li>
		            <li><a href="{% url 'testimonials' %}">Testimonials</a></li>
		            <li><a href="{% url 'ethos' %}">Ethos</a></li>
		            <li><a href="{% url 'key_skills' %}">Key Skills</a></li>
		            <li><a href="{% url 'services' %}">Services</a></li>
		            <li><a href="{% url 'blog' %}">Blog</a></li>
		            <li><a href="{% url 'contact' %}">Contact</a></li>
		        </ul>
		</div>   
	</nav>
	
{% block content %}
{% endblock %}
	<div class="footer-grid">
		<div class="fbox1">
			<div class="footer-address">
			    <address>
			        YaYa Maternity<br>
			        123 Main Street, Suite 100<br>
			        London, UK<br>
			        Phone: (555) 555-1234<br>
			        Email: <a href="mailto:info@yayamaternity.com">info@yayamaternity.com</a>
			    </address>
			</div>
		</div>
		<div class="fbox2"><p>Request a call</p></div>
		<div class="fbox3"><p>Social Media</p></div>
	</div>
	<div class="footer-links">
	    <a href="#">Privacy Policy</a> 
	    <a href="#">Terms & Conditions</a> 
	    <a href="#">Website by :</a>
	    <a href="#">Cookie policy</a> 
	</div>

	<script src="{% static 'js/script.js' %}"></script>

</body>
</html>