{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/pages/index.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/components/banner.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/components/buttons.css' %}">
	{% endblock %}


	<title>{% block title %}Home{% endblock %}</title>
</head>
<body>
	{% block content %}
	<div class="banner">
		<img src="{% static '/images/mom-and-baby-2021-08-29-16-14-17-utc.jpg' %}" alt="Description of the image">
	</div>

	<div class="s1-grid-container">
			<div class="heading-1"><h1>YaYa Maternity</h1></div>
		
			<div class="s1-box1">
				<h3 class="hero-heading">Comprehensive Maternity Support</h3>
				<p class="text1">
				At Yaya Maternity, we understand that the early days of motherhood can feel overwhelming. Whether you’re facing sleepless nights, breastfeeding challenges, or simply feeling unsure, you don’t have to do this alone.
				</p>
				
			</div>

			

			<div class="s1-box2">
				<h3 class="hero-heading">Expert Breastfeeding Support</h3>
				<p class="text2">
				Breastfeeding can be a wonderful bonding experience, but it often comes with its own set of challenges. Our experienced lactation consultants are here to provide personalised support. We offer practical solutions tailored to your unique needs, ensuring you feel confident in your breastfeeding journey. With our breastfeeding guide, you will gain the knowledge and skills necessary to embrace this vital part of nurturing your baby.

				I’m here to support you, offering expert guidance and a compassionate ear to help you navigate this beautiful but challenging journey.
				</p>
			</div>

			<div class="s1-box3">
					<img src="{% static '/images/FT5wgmdP.png' %}" alt="Description of the image">
			</div>

			<div class="s1-box4">
					<video autoplay loop muted>
					    <source src="{% static 'videos/placeholder_video001.mp4' %}" type="video/mp4">
					    Your browser does not support the video tag.
					</video>
			</div>
		
	</div>
	<div class="s2-grid-container">
		<a class="s2-box3" href="">
		
			<img src="{% static '/images/placeholder_img.png' %}" alt="Description of the image">
			<span class="s2-box-text">SERVICE-1</span>
		</a>
		<div class="s2-box4">
			<img src="{% static '/images/placeholder_img.png' %}" alt="Description of the image">
			<span class="s2-box-text">SERVICE-2</span>
		</div>
		<div class="s2-box5">
			<img src="{% static '/images/placeholder_img.png' %}" alt="Description of the image">
			<span class="s2-box-text">SERVICE-3</span>
		</div>
		<div class="s2-box6">
			<img src="{% static '/images/placeholder_img.png' %}" alt="Description of the image">
			<span class="s2-box-text">SERVICE-4</span>
		</div>
	</div>
	<div class="s2-more">
		<a class="more-serv-button" href="{% url 'services' %}">MORE SERVICES</a>
	</div>
	<div class="s3-grid-container">
		<div class="s3-box1"><h2>Hear from our customers</h2></div>
		<div class="s3-box2">
			<h3>Testimonial-1</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
		</div>
		<div class="s3-box3">
			<h3>Testimonial-2</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
		</div>
		<div class="s3-box4">
			<h3>Testimonial-3</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
		</div>
	</div>

	{% endblock %}
</body>
</html>