{% extends 'base.html' %}

<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/components/banner.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pages/payment_form.css' %}">
    {% endblock %}


    <title>{% block title %}Key Skills{% endblock %}</title>
</head>

<body>
    {% block content %}
    <div class="grid-container-1">
        <form class="p-form" action="{% url 'payment_view' %}" method="POST" id="payment-form">
            {% csrf_token %}
            <label for="amount">Amount (in USD):</label>
            <input type="text" id="amount" name="amount" placeholder="Enter amount in dollars">
            
            <div id="card-element"><!-- A Stripe Element will be inserted here. --></div>

            <button type="submit">Pay</button>
        </form>
    </div>
        <script src="https://js.stripe.com/v3/"></script>
        <script>
            var stripe = Stripe("{{ stripe_publishable_key }}");
            var elements = stripe.elements();
            var card = elements.create("card");
            card.mount("#card-element");

            var form = document.getElementById("payment-form");
            form.addEventListener("submit", async function(event) {
                event.preventDefault();
                const { token, error } = await stripe.createToken(card);

                if (error) {
                    console.log(error.message);
                } else {
                    const hiddenInput = document.createElement("input");
                    hiddenInput.setAttribute("type", "hidden");
                    hiddenInput.setAttribute("name", "stripeToken");
                    hiddenInput.setAttribute("value", token.id);
                    form.appendChild(hiddenInput);
                    form.submit();
                }
            });
        </script>

    {% endblock %}
</body>
</html>