.s1-grid-container {
	background-color: white;
	display: grid;
	padding-top: 3rem;
	padding-bottom: 3rem;
	max-width: auto;
	margin-left: 10%;
	margin-right: 10%;
	justify-content: center;

	grid-template-areas: 
		"top . . "
		" img1 img1 img1 ";
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 50% 1fr;
	grid-gap: 1rem;
	margin: 3rem 10% 3rem 10%;
	min-width: 300px;
}

.s1-box1 {
	grid-area: top;
	align-items: center;
	background-color: white;
	padding: 0.5rem;
}


.s1-image001 {
	grid-area: img1;
	align-items: center;
	background-color: white;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
	overflow: hidden;
	object-fit: cover;
	position: relative;
    width: 100%;
    aspect-ratio: 16 / 9; /* Set your desired aspect ratio */
	
}

.s1-image001 img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 1vw;
}

@media screen and (max-width: 1023px) {
	
}

@media screen and (max-width: 767px) {
	
}