

.banner-services {
	display: flex;
	width: 100%;
	height: 30rem;
	background-color: white;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.banner-services img {
    width: 100%;  /* Stretch to fit the container width */
    height: 100%; /* Stretch to fit the container height */
    object-fit: cover; /* Fills the entire container, may distort image */
}

.services-heading {
	display: flex;
	text-align: center;
	padding: 1rem;
	background-color: lightblue;
	align-content: center;
	justify-content: center;
}


.s1-grid-container {
	display: grid;

	grid-template-areas: 
		" sx1 "
		" sx2 " 
		" sx3 "
		" sx4 "
		" sx5 ";
	
	grid-template-columns:  1fr;
	grid-template-rows: repeat(5, auto);

	height: auto;
	width: 100%;

	
	background-color: white;
	/*padding-top: 3rem;
	padding-bottom: 3rem;*/
	justify-content: center;
	min-width: 300px;
}

.section-1 {
	display: flex;
	flex-direction: row;
	background-color: white;
	grid-area: sx1;
	justify-content: center;
	align-items: center;
	padding: 5% 0 5% 0;
}

.s1-text {
	padding: 1rem;
	margin-left: 5%;
	margin-right: 5%;
	width: 50%;
}

.s1-img-box {
	background-color: grey;
	border-radius: 5%;
	overflow: hidden;
	position: relative;
    width: 50%;
    aspect-ratio: 1 / 1; /* Set your desired aspect ratio */
	margin-right: 5%;
}



.s1-img-box img{
	width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.section-2 {
	display: flex;
	flex-direction: row;
	background-color: lightblue;
	grid-area: sx2;
	justify-content: center;
	align-items: center;
	padding: 5% 0 5% 0;
}

.s2-text {
	padding: 1rem;
	margin-left: 5%;
	margin-right: 5%;
	width: 50%;
}

.s2-img-box {
	background-color: grey;
	border-radius: 5%;
	overflow: hidden;
	position: relative;
    width: 50%;
    aspect-ratio: 1 / 1; /* Set your desired aspect ratio */
	margin-left: 5%;
}

.s2-img-box img{
	width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.section-3 {
	display: flex;
	flex-direction: row;
	background-color: white;
	grid-area: sx3;
	justify-content: center;
	align-items: center;
	padding: 5% 0 5% 0;
}

.s3-text {
	padding: 1rem;
	margin-left: 5%;
	margin-right: 5%;
	width: 50%;
}

.s3-img-box {
	background-color: grey;
	border-radius: 5%;
	overflow: hidden;
	position: relative;
    width: 50%;
    aspect-ratio: 1 / 1; /* Set your desired aspect ratio */
	margin-right: 5%;
}

.contact-book {
	font-size: 20px;
	font-weight: bold;
}

.s3-img-box img{
	width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.section-4 {
	display: flex;
	flex-direction: row;
	background-color: lightblue;
	grid-area: sx4;
	justify-content: center;
	align-items: center;
	padding: 5% 0 5% 0;
}
.s4-text {
	padding: 1rem;
	margin-left: 5%;
	margin-right: 5%;
	width: 50%;
}
.s4-img-box {
	background-color: grey;
	border-radius: 5%;
	overflow: hidden;
	position: relative;
    width: 50%;
    aspect-ratio: 1 / 1; /* Set your desired aspect ratio */
	margin-left: 5%;
}
.s4-img-box img{
	width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.section-5 {
	display: flex;
	flex-direction: row;
	background-color: white;
	grid-area: sx5;
	justify-content: center;
	align-items: center;
	padding: 5% 0 5% 0;
}

.s5-text {
	padding: 1rem;
	margin-left: 5%;
	margin-right: 5%;
	width: 50%;
}

.s5-img-box {
	background-color: grey;
	border-radius: 5%;
	overflow: hidden;
	position: relative;
    width: 50%;
    aspect-ratio: 1 / 1; /* Set your desired aspect ratio */
	margin-right: 5%;
}


.s5-img-box img{
	width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

@media screen and (max-width: 1023px) {
	.section-1 {
		flex-wrap: wrap;
	}
	.section-2 {
		flex-wrap: wrap;
	}
	.section-3 {
		flex-wrap: wrap;
	}
	.section-4 {
		flex-wrap: wrap;
	}
	.section-5 {
		flex-wrap: wrap;
	}

	.s1-img-box {
		width: 100%;
		margin: 0 10% 0 10%;
	}
	.s2-img-box {
		width: 100%;
		margin: 0 10% 0 10%;
	}
	.s3-img-box {
		width: 100%;
		margin: 0 10% 0 10%;
	}
	.s4-img-box {
		width: 100%;
		margin: 0 10% 0 10%;
	}
	.s5-img-box {
		width: 100%;
		margin: 0 10% 0 10%;
	}
	.s1-text{
		width: 100%;
		margin: 0 10% 0 10%;
	}
	.s2-text{
		width: 100%;
		margin: 0 10% 0 10%;
	}
	.s3-text{
		width: 100%;
		margin: 0 10% 0 10%;
	}
	.s4-text{
		width: 100%;
		margin: 0 10% 0 10%;
	}
	.s5-text{
		width: 100%;
		margin: 0 10% 0 10%;
	}
}

@media screen and (max-width: 768px) {
	
}