.service1-s1 {
	background-color: lightblue;
	width: 100%;
	height: 100rem;
}


.service1-s1-grid {
	background-color: white;
	display: grid;
	padding-top: 3rem;
	padding-bottom: 3rem;

	align-items: center;
	justify-content: center;

	grid-template-areas: 
		"bx1 bx1 img1"
		"bx2 bx2 img2";
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto;
	
	grid-gap: 1rem;

	margin-left: 10%;
	margin-right: 10%;
}

.about-box1 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	grid-area: bx1;
	background-color: white;
	padding: 0.5rem;
}

.about-box2 {
	grid-area: bx2;
	background-color: white;
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.about-box2 p {
	margin-bottom: 20px;
}

.about-image001 {
	display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
	grid-area: img1;
	overflow: hidden;
	object-fit: cover;
	border-radius: 1vw;
}

.about-image002 {
	display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
	grid-area: img2;
	overflow: hidden;
	object-fit: cover;
	border-radius: 1vw;
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 1023px) {
	.service1-s1-grid {
		grid-template-areas: 
		" img1 "
		" bx1  "
		" img2 "
		" bx2  ";
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;

		min-width: 300px;
	}
}