.footer {
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: lightgray;
/*	border: 2px solid black;*/
	height: 10rem;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding-top: 1rem;
}

.footer p {
	margin-bottom: 2rem;
}