.footer-grid {
	display: grid;
	grid-template-columns: 200px 200px 200px 200px;
	grid-template-rows: 100px 50px;
	grid-template-areas: 
		"tel email soc tc"
		" b1 b2 b3 b4 "
		;	
	background-color: lightblue;
	justify-content: center;
	grid-gap: 1rem 5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.fbox1 {
	grid-area: tel;
	background-color: white;
	width: 100%;
	height: 100%;
	padding: 1rem;
}


.fbox2 {
	grid-area: email;
	background-color: white;
	width: 100%;
	height: 100%;
	padding: 1rem;
}


.fbox3 {
	grid-area: soc;
	background-color: white;
	width: 100%;
	height: 100%;
	padding: 1rem;
}


.fbox4 {
	grid-area: tc;
	background-color: white;
	width: 100%;
	height: 100%;
	padding: 1rem;
}

.fbox5 {
	grid-area: b1;
	background-color: white;
	width: 100%;
	height: 100%;
	padding: 0.5rem;
}

.fbox6 {
	grid-area: b2;
	background-color: white;
	width: 100%;
	height: 100%;
	padding: 0.5rem;
}


.fbox7 {
	grid-area: b3;
	background-color: white;
	width: 100%;
	height: 100%;
	padding: 0.5rem;
}

.fbox8 {
	grid-area: b4;
	background-color: white;
	width: 100%;
	height: 100%;
	padding: 0.5rem;
}