.navbar {
    background-color: #f8f9fa; /* Light background color */
    padding: 10px 20px; /* Padding around the navbar */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.navbar ul {
	display: flex;
}

.navbar li {
	margin-right: 2rem;
}